# Public ports (host -> container)
RESIDENT_SERVICE_PORT=8081
RESIDENT_DB_PORT=5432
GATEWAY_SERVICE_PORT=8085
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MQTT_PORT=1883
RABBITMQ_MANAGEMENT_PORT=15672
MESSAGES_MONGO_PORT=27017
MESSAGES_SERVICE_PORT=5002

# RabbitMQ
RABBITMQ_DEFAULT_USER=ishsrec
RABBITMQ_DEFAULT_PASS=ishsrec
RABBITMQ_DEFAULT_VHOST=/

# resident-service PostgreSQL
RESIDENT_DB_NAME=residentdb
RESIDENT_DB_USER=resident
RESIDENT_DB_PASSWORD=resident
RESIDENT_DB_URL=jdbc:postgresql://resident-db:5432/residentdb

# messages-service MongoDB
MESSAGES_MONGO_DB=messagesdb
MESSAGES_MONGO_URI=mongodb://messages-mongo:27017/messagesdb