# Public ports (host -> container)
RESIDENT_SERVICE_PORT=8081
RESIDENT_DB_PORT=5432
GATEWAY_SERVICE_PORT=8085

# resident-service PostgreSQL
RESIDENT_DB_NAME=residentdb
RESIDENT_DB_USER=resident
RESIDENT_DB_PASSWORD=resident
RESIDENT_DB_URL=jdbc:postgresql://resident-db:5432/residentdb